.header__lang-link_ru {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: underline;
    color: #ffffff;
    max-width: 30px;
    min-width: 28px;
    margin: 0 18px 0 0;
}


@media all and (max-width: 320px) {
    .header__lang-link_ru {
        max-width: 22px;
        min-height: 20px;
        font-size: 18px;
        line-height: 20px;
    }
}