.place__url-heading {
    max-width: 456px;
    min-height: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-top: 0;
}



@media all and (max-width:768px) {
    .place__url-heading {
        max-width: 352px;
    }
}

@media all and (max-width:320px) {
    .place__url-heading {
        max-width: 288px;
    }
}