.place__links {
    grid-area: url;
    justify-self: start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    height: 46px;
    margin-bottom: 48px;
}

@media all and (min-width:0) and (max-width: 767px) {
    .place__links {
        margin-bottom: 32px;
    }
}