.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(3, min-content);
    gap: 16px;
    margin-top: 92px;
    grid-auto-flow: column;
    justify-content: center;
}

@media all and (max-width:1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(4, min-content);
        gap: 14px;
        max-width: 928px;
    }
}

@media all and (max-width:768px) {
    .photo-grid {
        grid-template-columns: repeat(2, min-content);
        grid-template-rows: repeat(6, min-content);
        max-width: 720px;
    }
}

@media all and (max-width:320px) {
    .photo-grid {
        grid-template-columns: min-content;
        grid-template-rows: repeat(12, min-content);
        gap: 12px;
        max-width: 288px;
    }
}