.place {
    max-width: 984px;
    display: grid;
    grid-template-areas: 
    'title title url url'
    'image image text text'
    'image image text text';
    margin: 0 auto 80px;
}

@media all and (max-width:1024px)  {
    .place {
        max-width: 928px;
    }
}
@media all and (max-width:768px) {
    .place {
        margin: 0 auto 73px;
        max-width: 720px;
    }
}

@media all and (max-width:320px) {
    .place {
        max-width: 320px;
        margin: 0 auto 50px;
        grid-template-areas: 
        'title'
        'url'
        'image'
        'text';
    }
}