.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 56px auto 92px;
}





@media all and (max-width:1279px) {
    .lead {
        max-width: 928px;
        margin: 48px auto 92px;
    }
}

@media all and (max-width:1023px)  {
    .lead {
        max-width: 768px;
        margin: 48px auto 88px;
    }
}

@media all and (max-width: 767px) {

    .lead {
        max-width: 320px;
        margin: 48px auto 64px;
    }

}