.header {
    margin: auto;
    display: flex;
    height: 52px;
    flex-direction: row;
    padding-top: 28px;
    justify-content: space-between;
    max-width: 1184px;
}


@media all and (min-width:1024px) and (max-width: 1279px) {
    .header {
        max-width: 928px;
    }
}

@media all and (min-width:768px) and (max-width: 1023px) {
    .header {
        width: 720px;
        margin: auto;
        padding-top: 24px;
    }
}

@media all and (min-width:0) and (max-width: 767px) {
    .header {
        width: 288px;
        margin: auto;
        padding-top: 16px;
    }
}