.lead__image {
    max-width: 984px;
    background-size: cover;
    object-fit: fill;
}





@media all and (max-width:1279px) {
    .lead__image {
        max-width: 928px;
    }
}

@media all and (max-width:1023px) {
    .lead__image {
        max-width: 744px;
    }
}

@media all and (max-width: 767px) {
    .lead__image {
        max-width: 300px;
    }
}