.cover__image {
    max-width: 1184px;
    max-height: 740px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media all and (max-width:1024px) {
    .cover__image {
        max-width: 1024px;
        max-height: 640px;
        left: 0;
    }
}

@media all and (max-width:768px) {
    .cover__image {
        max-width: 768px;
        max-height: 480px;
        left: 0;
    }
}

@media all and (max-width: 320px) {
    .cover__image {
        max-width: 320px;
        max-height: 200px;
        left: 0;
    }
}


