.place__link {
    max-width: 456px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

@media all and (max-width:1023px) {
    .place__link{
       max-width: 352px; 
    }
}

@media all and (max-width: 767px) {
    .place__link{
        max-width: 288px; 
     }
}