.cover__title {
    width: 560px;
    min-height: 152px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 245px;
    left: 312px;
    z-index: 2;
    margin: 0;
}

@media all and (max-width:1024px) {
    .cover__title {
        top: 195px;
        left: 232px;
    }
}

@media all and (max-width:768px) {
    .cover__title {
        top: 115px;
        left: 104px;
    }
}

@media all and (max-width: 320px) {
    .cover__title {
        max-width: 250px;
        min-height: 70px;
        font-size: 32px;
        line-height: 35px;
        top: 33px;
        left: 35px;
    }
}