.header__lang-link_lang_ru {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: underline;
    color: #ffffff;
    width: 30px;
    height: 28px;
    margin: 0;
}


@media all and (min-width:0) and (max-width: 767px) {
    .header__lang-link_lang_ru {
        width: 22px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
    }
}