.place {
    max-width: 984px;
    display: grid;
    grid-template-areas: 
    'title title url url'
    'image image text text'
    'image image text text';
    margin: 0 0 80px 0;
}

@media all and (max-width:1279px)  {
    .place {
        max-width: 928px;
    }
}
@media all and (max-width:1023px) {
    .place {
        margin: 0 0 73px 0;
        max-width: 720px;
    }
}

@media all and (max-width:767px) {
    .place {
        max-width: 320px;
        margin: 0 0 50px 0;
        grid-template-areas: 
        'title'
        'url'
        'image'
        'text';
    }
}