.footer {
    width: 1184px;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 24px 0;
}

@media all and (min-width:1024px) and (max-width: 1279px) {
    .footer {
        width: 928px;
    }
}

@media all and (min-width:768px) and (max-width: 1023px) {
    .footer {
        width: 720px;
    }
}

@media all and (min-width:0) and (max-width: 767px) {
    .footer {
        width: 186px;
        height: 310px;
        flex-direction: column;
        justify-content: space-between;
    }
}