.cover {
    width: 1184px;
    height: 740px;
    margin: 12px auto 92px;
    background-image: url(../../../images/__background.png);
    background-size: cover;
}

@media all and (min-width:1024px) and (max-width: 1279px) {
    .cover {
        width: 1024px;
        height: 640px;
        margin: 12px auto 92px;
    }
}

@media all and (min-width:768px) and (max-width: 1023px) {
    .cover {
        width: 768px;
        height: 480px;
        margin: 10px auto 88px;
    }
}

@media all and (min-width:0) and (max-width: 767px) {
    .cover {
        width: 320px;
        height: 200px;
        margin: 16px auto 64px;
    }
}