.cover {
    width: 1184px;
    min-height: 740px;
    margin: 12px auto 92px;
    background-size: cover;
    background-image: url(../../../images/__overlay.png);
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
    position: relative;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2c2f;
    opacity: 0.3;
    transition: opacity 0.2s ease;
    width: 100%;
    height: 100%;
}

.cover:hover:before {
    opacity: 0.8;
}


@media all and (max-width:1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
        margin: 12px auto 92px;
    }
}

@media all and (max-width:768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin: 10px auto 88px;
    }
}

@media all and (max-width: 320px) {
    .cover {
        min-width: 320px;
        min-height: 200px;
        margin: 16px auto 64px;
    }
}